:root {
  --light-bg: #f8f9fa;
  --text-dark: #343a40;
  --primary-color: #4caf50;
  --primary-dark: #45a049;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  padding: 30px 15px;
  background-color: var(--light-bg);
  color: var(--text-dark);
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: none;

}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 64, 64, 0.445); /* white overlay with 70% opacity */
  z-index: -1; 
}
.recipe-finder-container {
  max-width: 1200px;
  padding: 0 15px;
  text-align: center;
  margin-inline: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -1px;
  color: white;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  margin-inline: auto;
  max-width: 600px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

#search-input {
  padding: 15px 20px;
  font-size: 1rem;
  flex-grow: 1;
  border: 1px solid #e9ecef;
  border-radius: 8px 0 0 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

#search-input:focus {
  border-color: var(--primary-color);
}

#search-button {
  padding: 13px 25px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: var(--primary-dark);
}

.meal-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.meal-card img {
  width: 100%;
  border-radius: 10px;
}
#results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

